appdirs==1.4.3
backports.shutil-get-terminal-size==1.0.0
decorator==4.2.1
enum34==1.1.6
ipython==5.5.0
ipython-genutils==0.1.0
louis==3.4.0
Markdown==2.6.11
netsnmp-python==1.0a1
packaging==16.8
pathlib==1.0.1
peewee==3.0.19
pexpect==4.3.1
pickleshare==0.7.4
prompt-toolkit==1.0.15
ptyprocess==0.5.2
pycairo==1.16.2
Pygments==2.2.0
pyparsing==2.2.0
pysqlcipher==2.6.10
simplegeneric==0.8.1
six==1.11.0
team==1.0
traitlets==4.3.2
ufw==0.35
wcwidth==0.1.7
